<!-- logout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Se você tiver um arquivo de estilo CSS -->
</head>
<body>
    <div class="container">
        <h1>Você saiu da sua conta</h1>
        <p>Você foi desconectado com sucesso.</p>
        <a href="{% url 'signin' %}">Clique aqui para entrar novamente</a>
    </div>
</body>
</html>
